.v-flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#alert-mask {
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 10000000;
    background: rgba(0, 0, 0, .80);
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#alert {
    width: 35%;
    min-height: 40%;
    background: white;
    border-radius: 0.25em;
    flex-direction: column;
    padding-bottom: 1em;
    font-size: 1.2em;
}

#alert>input {
    display: block;
}

#alert-header,
#alert-footer {
    width: 90%;
    height: 10%;
}

#alert-header {
    padding: 1.4em;
    padding-left: 2em;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
}

#alert-body {
    width: 90%;
    height: 80%;
    text-align: left;
    padding-left: 2em;
    padding-right: 1.3em;
}

#alert-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0.5em;
    margin-top: 1em;
    margin-right: 0;
}

@media only screen and (max-aspect-ratio: 5/3) {
    #alert {
        width: 45%;
    }
}

@media only screen and (max-aspect-ratio: 9/14) {
    #alert {
        width: 60%;
    }
}

@media only screen and (max-aspect-ratio: 9/16) {
    #alert {
        width: 80%;
        height: auto;
    }
}

@keyframes pop {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}