#cf-alert {
    width: 40%;
    background: white;
    border-radius: 0.2rem;
    max-height: 100%;
    overflow: auto;
}

#alert-header, #alert-footer {
    padding: 1rem;
}

#alert-body>input {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#alert-body {
    padding-left: 1rem;
}

#alert-footer {
    text-align: right;
}

#alert-header {
    font-weight: bold;
}

#alert-ok {
    color: white;
    background-color: #007cdf;
    border: none;
    padding: 0.5rem;
    min-width: 10ch;
    border-radius: 0.2rem;
}

#alert-cancel {
    color: white;
    background-color: #978e0f;
    border: none;
    padding: 0.5rem;
    min-width: 10ch;
    border-radius: 0.2rem;
}

#alert-cancel, #alert-ok {
    cursor: pointer;
    margin: 0.2rem;
}

@media not all and (hover: none) {
    #alert-cancel:hover, #alert-ok:hover {
        filter: brightness(1.2);
    }
}

@media only screen and (max-aspect-ratio: 1/1) {
    #cf-alert {
        width: 70%;
    }
}

@media only screen and (max-aspect-ratio: 9/16) {
    #cf-alert {
        width: 90%;
    }
}