[Unit]
Description=Rite Cloud systemd service

[Service]
Type=simple
ExecStart=/opt/rite-cloud/start-rite-cloud.sh
WorkingDirectory=/opt/rite-cloud

[Install]
WantedBy=multi-user.target