{% extends "base.html" %}
{% block content %}
<style>
    .large {
        font-size: 1.6rem;
    }

    input[type=submit],
    .button {
        min-width: 20ch;
        margin: 0.4rem;
        margin-left: 0;
    }

    form {
        width: 100%;
        display: flex;
        margin-left: 0;
        margin-right: 0;
    }

    .submit-group {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
    }

    .input-group {
        margin: 1rem;
    }
</style>
{% if action == "delete" %}
<p><strong class='large'>THIS CANNOT BE UNDONE:</strong></p>
<p>
    Are you sure you want to delete the revision <strong>{{ doc.revision }}</strong> of the document <strong>{{ doc.name
        }}</strong>?
</p>
{% elif action == "delete-all" %}
<p><strong class='large'>THIS CANNOT BE UNDONE:</strong></p>
<p>
    Are you sure you want to delete all revisions of the document <strong>{{ doc.name }}</strong>?
</p>
{% elif action == "toggle-vis" %}
<p>
    Are you sure you want to make the document <strong>{{ doc.name }}</strong> {% if doc.public %}private{% else
    %}public{% endif %}?
</p>
{% elif action == "publish" %}
<p>
    Are you sure you want to publish the revision <strong>{{ doc.revision }}</strong> of the document <strong>{{
        doc.name
        }}</strong> on your blog?
</p>
{% else %}
<p>
    Error: Unknown action!
</p>
{% endif %}
{% if action in ["delete", "delete-all", "toggle-vis", "publish"] %}
<form method="post" action='{% 
        if action=="delete" 
            %}/docs/delete{%
        elif action == "delete-all" 
            %}/docs/delete-all{%
        elif action == "toggle-vis"
            %}/docs/toggle-visibility{%
        elif action == "publish"
            %}/blog/publish{%
        else 
            %}.{%
        endif
    %}'>

    {% if action == "publish" %}
    <div class="input-group">
        <label for="publish-title">Publish document as: </label>
        <input type="text" id="publish-title" name="publish-title">
    </div>
    {% endif %}

    <div class="submit-group">
        <input type="submit" value="OK">
        <span class="button">
            <a href='{% if action == "publish" %}/blog/manage{% else %}/docs/list{% endif %}'>Cancel</a>
        </span>
    </div>
    <input type="text" hidden readonly value="{{ doc.uuid }}" name="uuid">
</form>
{% endif %}
{% endblock content %}