{% extends "base.html" %}
{% block content %}
{% if docs and docs | length > 0 %}
<h2>Your documents</h2>
<p><strong><em>Note: </em></strong> Previewing documents online requires JavaScript.</p>
<ul>
    {% for name, revisions in docs %}
    <li class='rite-document'>
        <strong>{{ name }}</strong>
        {% for revision in revisions %}
        <ul>
            <li>
                Revision <strong>{{ revision.revision }}</strong>
                <div>
                    <a href="/docs/view/{{ revision.uuid | urlencode_strict }}">View online</a>
                    <a class='delete'
                        href="/confirm?action=delete&uuid={{revision.uuid | urlencode_strict }}">Delete</a>
                </div>
                <div>
                    Visibility: <strong>{% if revision.public %}Public{% else %}Private{% endif %}</strong>,
                    {% if revision.encrypted %} encrypted {% else %} not encrypted {% endif %}</a>
                    <a href="/confirm?action=toggle-vis&uuid={{revision.uuid | urlencode_strict }}">
                        ({% if revision.public %}Make private{% else %}Make public{% endif %})</a>
                </div>
            </li>
        </ul>
        {% endfor %}
        <div>
            {% if revisions | length > 1 %}
            <a class='delete' href="/confirm?action=delete-all&uuid={{revisions[0].uuid}}">
                Delete all revisions of document "{{ name }}"</a>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You haven't uploaded any documents yet.
<p>
<p>Use the "Upload to Rite Cloud" menu option in your Rite client to upload a document.</p>
{% endif %}
{% endblock content %}