{% extends "base.html" %}

<div>
    <strong>{{ title }}</strong> <em>(revision {{ revision }})</em>
</div>

{% block content %}

<a id='raw-link' href='?raw=true'>View raw</a>
<a id='print' href="javascript:void(0)">Print</a>
<a id='present' href="javascript:void(0)">Present</a>
<div id='md-raw' data-encrypted="{{ encrypted }}">{{ contents | json_encode() }}</div>
<div id='loading'>
    Loading
</div>

<link rel='stylesheet' href='/res/alert.css'>

<script type='module'>
    import { marked } from 'https://esm.sh/marked';
    import DOMPurify from 'https://esm.sh/dompurify';
    import { highlight, HL_KEYWORDS } from 'https://esm.sh/macrolight';
    import { escape, unescape, mustache } from 'https://esm.sh/campfire.js';
    import CryptoJS from 'https://esm.sh/crypto-js';
    import alerts from 'https://esm.sh/cf-alert';
    // {% raw %}
    const TABLE_MARKUP = `\
<div class='table-wrapper'>
<table>
<thead>
{{ header }}
</thead>
<tbody>
{{ body }}
</tbody>
</table>
</div>
`;
    // {% endraw %}

    const addCheckBox = (str) => {
        if (/^\s*\[.?\].*$/.test(str)) {
            return str.replace(/^\[ ?\]/, '<input type="checkbox">').replace(/^\[[^ ]\]/, '<input type="checkbox" checked>')
        }
        return str;
    }

    window.addEventListener("DOMContentLoaded", async () => {
        const loading = document.querySelector("#loading");
        const raw = document.querySelector("#md-raw");
        const print = document.querySelector('#print');
        const rawLink = document.querySelector('#raw-link');
        const presentLink = document.querySelector('#present');

        const AESDecrypt = (ciphertext, passphrase) => {
            const bytes = CryptoJS.AES.decrypt(ciphertext, passphrase, {
                format: CryptoJS.format.OpenSSL
            });
            return bytes.toString(CryptoJS.enc.Utf8);
        };

        let mdContents = unescape(JSON.parse(raw.innerHTML));

        if (raw.getAttribute('data-encrypted') === 'true') {
            try {
                let passphrase = await alerts.input('password', 'This document is encrypted. Enter the passphrase to decrypt it.');
                mdContents = AESDecrypt(mdContents, passphrase);
            }
            catch (e) {
                await alerts.message(`Error decrypting data: ${e}`, 'Error');
            }
        }

        print.addEventListener('click', () => {
            window.print();
        })

        const hidden = [];
        const result = document.createElement("div");
        result.id = 'md-rendered';

        const renderer = {
            listitem: (text) => {
                return `<li>${addCheckBox(text)}</li>\n`;
            },
            image: (href, title, text) => {
                let out = `<div class='img-wrapper'><img src='${href}' alt='${text}'`

                if (title) {
                    out += ` title=${title}`;
                }

                out += ">";

                out += `<span aria-hidden='true' class='img-description'>${text}</span>`;

                out += '</div>';
                return out;
            },
            code: (code, lang_, escaped) => {
                const langMatches = (lang_ || '').match(/\S*/);
                let lang = '';
                if (langMatches) {
                    lang = langMatches[0];
                }
                if (lang) {
                    code = highlight(code, {
                        keywords: HL_KEYWORDS[lang] || [],
                        styles: {
                            punctuation: 'color: #aaa;',
                            comment: 'color: #aaa;'
                        }
                    });
                    escaped = true;
                }
                return `\n<pre><code>${(escaped ? code : escape(code, true))}</code></pre>\n`;
            },
            table: (header, body) => {
                return mustache(TABLE_MARKUP, {
                    header: header,
                    body: body
                }, false);
            }
        }

        marked.use({ renderer });

        window.onbeforeprint = () => {
            let toHide = [...Array.from(document.querySelectorAll("body>*:not(#content)")), print, rawLink];
            toHide.forEach(elem => {
                hidden.push({
                    e: elem,
                    d: window.getComputedStyle(elem).display
                });
                elem.style.display = 'none';
            })
            result.style.borderTopColor = 'transparent';
            document.body.style.marginTop = '0';
        }

        window.onafterprint = () => {
            let next = null;
            while (next = hidden.pop()) {
                next.e.style.display = next.d;
            }
            result.style.borderTopColor = 'gray';
            document.body.style.marginTop = '5rem';
        }
        const present = () => {
            const slides = Array.from(document.querySelectorAll('h3')).reduce((l, heading) => {
                let elt = heading;
                let children = [];
                while (elt && elt.nextSibling && elt.nextSibling.tagName !== "H3") children.push(elt = (elt?.nextSibling || null));
                l.push([heading, ...children]);
                return l;
            }, []);
            document.body.style.marginTop = '1rem';
            document.querySelector('#md-rendered').style.borderTop = 'none';
            const renderSlide = (idx) => {
                for (let i = 0; i < slides.length; i++) {
                    if (idx == i) continue;
                    slides[i].forEach(elt => elt.style && (elt.style.display = 'none'));
                }
                slides[idx]?.forEach(elt => {
                    if (elt.tagName == "H3") {
                        elt.style.display = "block";
                        window.location = window.location.origin + window.location.pathname + '#' + elt.id;
                    }
                    else if (elt.tagName === "UL" || elt.tagName === "P" || elt.tagName === "DETAILS") elt.style.display = "block";
                    else if (elt.tagName === "DIV") elt.style.display = "flex";
                })
            }
            let slideIdx = 0;
            const nextSlide = () => renderSlide((++slideIdx < slides.length) ? slideIdx : slideIdx = slides.length - 1);
            const prevSlide = () => renderSlide((--slideIdx > 0) ? slideIdx : slideIdx = 0);
            document.body.onkeyup = e => {
                if (e.key === "ArrowRight") nextSlide();
                else if (e.key === "ArrowLeft") prevSlide();
            };
            window.onclick = e =>
                (e.clientX > window.innerWidth / 2 ? nextSlide() : prevSlide());
            [...Array.from(document.querySelectorAll('#content>:not(#md-rendered)')), ...Array.from(document.querySelectorAll('body>:not(#content)'))].forEach(elt => elt.style.display = 'none');
            renderSlide(slideIdx);
        }

        presentLink.addEventListener('click', async () => {
            await alerts.message('The "Present" feature converts your document to a presentation by turning every h3(###) to a new slide. Continue?');
            present();
        })

        let rendered = marked.parse(mdContents);
        result.innerHTML = DOMPurify.sanitize(marked.parse(rendered), { FORCE_BODY: true, ADD_TAGS: ['style'] });
        raw.insertAdjacentElement("afterend", result);
        loading.style.display = 'none';
    })
</script>

{% endblock content %}