{% extends "base.html" %}

<div>
    <strong>{{ title }}</strong> <em>(revision {{ revision }})</em>
</div>

{% block content %}

<a id='raw-link' href='?raw=true'>View raw</a>
<a href='javascript:void(0)' id='print'>Print</a>
<div id='md-raw'>{{ contents }}</div>
<div id='loading'>
    Loading
</div>

<script type='module'>
    import { marked } from 'https://esm.sh/marked';
    import DOMPurify from 'https://esm.sh/dompurify';

    const addCheckBox = (str) => {
        if (/^\s*\[.?\].*$/.test(str)) {
            return str.replace(/^\[ ?\]/, '<input type="checkbox">').replace(/^\[[^ ]\]/, '<input type="checkbox" checked>')
        }
        return str;
    }

    window.addEventListener("DOMContentLoaded", () => {
        const loading = document.querySelector("#loading");
        const raw = document.querySelector("#md-raw");
        const print = document.querySelector('#print');
        const rawLink = document.querySelector('#raw-link');

        print.addEventListener('click', () => {
            window.print();
        })

        const hidden = [];
        const result = document.createElement("div");
        result.id = 'md-rendered';

        const renderer = {
            listitem: (text) => {
                return `<li>${addCheckBox(text)}</li>\n`;
            },
            image: (href, title, text) => {
                console.log(href, title, text)
                let out = `<div class='img-wrapper'><img src='${href}' alt='${text}'`

                if (title) {
                    out += ` title=${title}`;
                }

                out += ">";

                out += `<span aria-hidden='true' class='img-description'>${text}</span>`;

                out += '</div>';
                return out;
            }
        }

        marked.use({ renderer });

        window.onbeforeprint = () => {
            let toHide = [...Array.from(document.querySelectorAll("body>*:not(#content)")), print, rawLink];
            toHide.forEach(elem => {
                hidden.push({
                    e: elem,
                    d: window.getComputedStyle(elem).display
                });
                elem.style.display = 'none';
            })
            result.style.borderTopColor = 'transparent';
            document.body.style.marginTop = '0';
        }

        window.onafterprint = () => {
            let next = null;
            while (next = hidden.pop()) {
                console.log(next)
                next.e.style.display = next.d;
            }
            result.style.borderTopColor = 'gray';
            document.body.style.marginTop = '5rem';
        }

        let rendered = marked.parse(raw.innerHTML);
        result.innerHTML = DOMPurify.sanitize(rendered);
        raw.insertAdjacentElement("afterend", result);
        loading.style.display = 'none';
    })
</script>

{% endblock content %}